@charset "utf-8";
/* Fontes */
@import url(http://fonts.googleapis.com/css?family=Titillium+Web);
@font-face {
    font-family:'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf")
}

/* Formatações Genericas */

body {
	background-color:#083908;
	font-size:12pt;
	font-family:Arial, sans-serif;
}

p {
	font-family: 'Titillium Web', sans-serif;
	text-indent:30px;
	margin:40px;
	font-size:12pt;
}

a {
    color: #008B00;
	font-size:12pt;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

/*FORMATAÇÃO DA DIV DO CABECALHO*/

div#cabecalho {
	width:1000px;
	background-color:none;
	margin:-5px auto 0 auto;
    padding: 10px;
	margin-bottom:-15px;
}

div.ajuste {
	width:1000px;
	background-color:none;
	margin:-5px auto 0 auto;
    padding: 10px;
	margin-bottom:-10px;
}

/* Formatação Menu Topo */

nav#menu {
	position:fixed;
	display:block;
	width:1100px;
}

ul.menu {
	font-family: Arial, sans-serif;
	font-size:15px;
	padding:0px;
	list-style:none;
	margin-top:-15px;
	margin-left:8%;
}

ul.menu li {
	display:block;
	position:relative;
	float:left;
}

ul.menu li ul {
	display:none;
	width:125px;
	margin-left:-40px;
}

ul.menu  li a {
	display:block;
	text-decoration:none;
	font-variant:small-caps;
	color:white;
	border-top:1px solid white;
	border-radius:10px;
	padding:10px 20px 10px 20px;
	background:#000;
	width:auto;
	box-shadow:2px 2px 5px #333
}

ul.menu li a:hover {
	background:black;
}

/*Sub Menu*/

ul.menu li:hover ul {
	display:block;
	position:absolute;
	width:210px
}

ul.menu li:hover li {
	float:none;
	font-size:14px;
}

ul.menu li:hover a {
	background:#888;
}

ul.menu li:hover  li a:hover {
	background:#000;
}

/* Posição da Imagem Topo */

img#iLog {
	display:block;
	margin-top:1%;
	margin-bottom:-105px;
	
}
img#iSus {
	margin-left:35%;
	margin-top:-10%;
}



/* Formatação Interface */

div#interface {
	width:1000px;
	background-color:#fff;
	margin:-5px auto 0 auto;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
	border-radius:4px;
}

/* Formatação Cabeçalho */

header#cabecalho h1 {
    font-family: 'FonteLogo' sans-serif;
    font-size: 30pt;
    color: #008B00;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	padding:0px;
	margin-bottom:0px;
	text-align:center;
}

header#cabecalho h2 {
    font-family: 'Titillium Web', sans-serif;
    color: #00FF00;
    font-size: 15pt;
	padding:0px;
	margin-top:0px;
	text-align:center;
}

header#cabecalho h3 {
	font-size:12pt;
	color: #008B00;
}
/* Posição da Imagem Rodape */

img#iRodape {
	margin-bottom:-35px;
}
/* Rodape */

footer#rodape {
	border-top: 1px solid black;
	clear:both;
}

footer#rodape p {
	font-family: 'Titillium Web', sans-serif;
	font-size:12pt;
	text-align:center;
	height:5px;
	margin-top:5px;
	margin-bottom:17px;
}