@charset "UTF-8";

section#corpo h1 {
	font-family: 'FonteLogo', sans-serif;
    color: #008B00;
	text-align:center;
	font-size: 22pt;
}

/* formatação da ul  */
ul#album-fotos {
    width: 700px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    list-style: none;
}
/* formatação dos li em blocos */
ul#album-fotos li {
    float: left;
    width: 200px;
    height: 200px;
    margin: 5px;
    border: 5px solid #fff;
    background-color: #fff;
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in
}

ul#album-fotos li:hover {
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5)
}

/* formatação das fotos como background dos li */
/* ****************** 1 ******************* */
ul#album-fotos li#foto01 {
    background: url("../_img/edificio01.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}

ul#album-fotos li#foto01:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
/* **************** 2 ********************* */
ul#album-fotos li#foto02 {
    background: url("../_img/edificio02.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}

ul#album-fotos li#foto02:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
/* ***************** 3 ******************** */
ul#album-fotos li#foto03 {
    background: url("../_img/edificio03.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}

ul#album-fotos li#foto03:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
/* **************** 4 ********************* */
ul#album-fotos li#foto04 {
    background: url("../_img/edificio04.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}

ul#album-fotos li#foto04:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
/* *************** 5 ********************** */
ul#album-fotos li#foto05 {
    background: url("../_img/edificio05.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}

ul#album-fotos li#foto05:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
/* **************** 6 ********************* */
ul#album-fotos li#foto06 {
    background: url("../_img/edificio06.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#album-fotos li#foto06:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
/* **************** 7 ********************* */
ul#album-fotos li#foto07 {
    background: url("../_img/edificio07.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#album-fotos li#foto07:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
/* **************** 8 ********************* */
ul#album-fotos li#foto08 {
    background: url("../_img/edificio08.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#album-fotos li#foto08:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
/* **************** 9 ********************* */
ul#album-fotos li#foto09 {
    background: url("../_img/edificio09.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#album-fotos li#foto09:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}